body .login-background {
    background: url(../images/loginre.jpg) no-repeat top center; }
    body .login-background .reg-content-box {
      position: relative;
      height: 100%;
      margin: 0 auto;
      margin-top: 80px;
      padding-bottom: 50px; }
      body .login-background .reg-content-box .form-login-box {
        position: absolute;
        width: 302px;
        top: 114px;
        padding: 28px 42px;
        border: 1px #e9e9e9 solid;
        background: #fff; }
        body .login-background .reg-content-box .form-login-box .login-regi-title {
          height: 25px;
          overflow: hidden; }
          body .login-background .reg-content-box .form-login-box .login-regi-title h2 {
            text-align: center;
            line-height: 25px;
            font-size: 18px;
            float: left;
            cursor: pointer;
            user-select: none; }
          body .login-background .reg-content-box .form-login-box .login-regi-title .regi-user {
            width: 100%; }
        body .login-background .reg-content-box .form-login-box form {
          display: block; }
          body .login-background .reg-content-box .form-login-box form .form-content {
            padding-top: 15px; }
            body .login-background .reg-content-box .form-login-box form .form-content li {
              margin: 10px 0; }
            body .login-background .reg-content-box .form-login-box form .form-content input {
              width: 290px;
              padding: 0 5px;
              height: 36px;
              border: 1px solid #efefef;
              border-radius: 2px;
              outline: none;
              color: #442818;
              line-height: 38px;
              font-size: 12px; }
            body .login-background .reg-content-box .form-login-box form .form-content ul {
              list-style: none;
              display: block;
              margin-block-start: 1em;
              margin-block-end: 1em;
              margin-inline-start: 0px;
              margin-inline-end: 0px; }
              body .login-background .reg-content-box .form-login-box form .form-content ul .jvli {
                width: 302px;
                height: 0;
                margin-top: 45px; }
              body .login-background .reg-content-box .form-login-box form .form-content ul li {
                position: relative;
                display: list-item;
                text-align: -webkit-match-parent; }
                body .login-background .reg-content-box .form-login-box form .form-content ul li input {
                  width: 290px; }
                body .login-background .reg-content-box .form-login-box form .form-content ul li i {
                  left: 280px;
                  position: absolute;
                  height: 16px;
                  width: 16px;
                  background: url(../images/icon.png) no-repeat;
                  background-position: -61px -44px;
                  background-size: 310px 120px;
                  left: 115px;
                  top: 12px;
                  display: none; }
              body .login-background .reg-content-box .form-login-box form .form-content ul .login-img-text {
                height: 38px;
                position: relative;
                width: 302px; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-img-text i {
                  left: 280px;
                  position: absolute;
                  height: 16px;
                  width: 16px;
                  background: url(../images/icon.png) no-repeat;
                  background-position: -61px -44px;
                  background-size: 310px 120px;
                  left: 115px;
                  top: 12px;
                  display: none; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-img-text input {
                  float: left;
                  width: 128px; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-img-text img {
                  float: left;
                  margin-left: 10px;
                  width: 114px;
                  border: 1px solid #efefef;
                  height: 36px;
                  display: block; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-img-text a {
                  color: #684029;
                  text-decoration: none;
                  outline: none;
                  cursor: pointer;
                  -webkit-tap-highlight-color: transparent; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-img-text .refresh-button {
                  float: right;
                  height: 22px;
                  width: 26px;
                  display: block;
                  background: url(../images/icon.png) no-repeat;
                  background-position: -15px -41px;
                  background-size: 310px 120px;
                  margin-top: 8px; }
              body .login-background .reg-content-box .form-login-box form .form-content ul .login-mes-umn {
                height: 38px;
                margin: 0;
                width: 302px;
                position: relative; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-mes-umn input {
                  width: 128px;
                  float: left; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-mes-umn i {
                  left: 280px; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .login-mes-umn a {
                  display: block;
                  width: 149px;
                  height: 36px;
                  line-height: 36px;
                  text-align: center;
                  float: right;
                  cursor: pointer;
                  background: #fafafa;
                  border: 1px solid #ebebeb;
                  border-radius: 2px;
                  color: #442818;
                  text-decoration: none;
                  outline: none;
                  font-size: 12px;
                  -webkit-tap-highlight-color: transparent; }
              body .login-background .reg-content-box .form-login-box form .form-content ul .err-text {
                position: static;
                height: 22px;
                font-size: 12px; }
                body .login-background .reg-content-box .form-login-box form .form-content ul .err-text span {
                  line-height: 22px;
                  color: #ff7140; }
                  body .login-background .reg-content-box .form-login-box form .form-content ul .err-text span i {
                    display: inline-block;
                    vertical-align: middle;
                    height: 16px;
                    width: 16px;
                    margin-right: 5px;
                    background: url(../images/icon.png) no-repeat;
                    background-position: -41px -44px;
                    background-size: 310px 120px;
                    position: static; }
              body .login-background .reg-content-box .form-login-box form .form-content ul li {
                position: relative; }
                body .login-background .reg-content-box .form-login-box form .form-content ul li .login-button {
                  display: block;
                  background: #442818;
                  border-radius: 2px;
                  height: 48px;
                  width: 302px;
                  line-height: 48px;
                  text-align: center;
                  font-size: 18px;
                  color: #fff;
                  border: 0;
                  cursor: pointer; }
          body .login-background .reg-content-box .form-login-box form .reading-protocol {
            margin-top: 15px;
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            padding-bottom: 40px;
            color: #744f3a; }
            body .login-background .reg-content-box .form-login-box form .reading-protocol label {
              cursor: pointer;
              user-select: none; }
              body .login-background .reg-content-box .form-login-box form .reading-protocol label input {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer; }
            body .login-background .reg-content-box .form-login-box form .reading-protocol a {
              color: #2a99fa;
              text-decoration: none;
              outline: none;
              cursor: pointer;
              -webkit-tap-highlight-color: transparent; }
            body .login-background .reg-content-box .form-login-box form .reading-protocol p {
              display: block;
              float: right;
              margin-left: 18px;
              color: #744f3a; }
              body .login-background .reg-content-box .form-login-box form .reading-protocol p a {
                color: #684029; }